/*CSS PAGE 404*/
.pgnotfound { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);}
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

/* CSS LOGIN FORM*/
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.mtop {
  margin-top: 50px !important;
}


/* Loader */
body {
  margin: 0;
  padding: 0;
}

.loading-container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(233, 231, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.spinner {
  height: 14rem;
  width: 14rem;
  border: 20px solid #0099ff;
  border-left: 20px solid #ffff00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin infinite 1.5s linear;
}

.spinner-text {
  position: absolute;
  font-size: 14px;
  color: rgb(54, 54, 54);
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: sans-serif;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}